- if request.format == :html
  .card_header
    %h2 Play Quest

.content{class: request.format == 'html' ? '' : 'invisible'}
  .center_form
    .subject_container
      %h3= @challenge.text

    = form_for @challenge, url: attempt_challenge_path(id: @challenge, challenge_id: @challenge.id), remote: true, method: :post do |f|
      = f.text_field 'answer', value: nil
      = f.submit 'Submit Answer'

  %br
  %br
  .center
    = link_to 'Back', quests_path, remote: true, data: { fade_content: true, swap_title: 'Quests'}
