.center_form
  .subject_container
    = ajax_subject 'name', @inventory

  %h3 Tracked Items
  %ul
    - @inventory.stocks.each do |stock|
      %li{data: { id: stock.item.id }}
        = stock.item.name
        = form_for @inventory, method: :post, url: inventory_update_stock_path(inventory_id: @inventory.id), remote: true do |f|
          - f.fields_for :stocks, stock do |stock_fields|
            - stock_fields.number_field :quantity, style: 'width:4em; text-align:center;'
        = stock.item.units
        (
        = link_to 'x', inventory_remove_item_path(inventory_id: @inventory.id, item_id: stock.item.id), remote: true, method: :delete
        )

  %br

  = form_for @inventory, method: :post, url: inventory_track_item_path(@inventory), remote: true do |f|
    - f.hidden_field :id
    - f.search_field :item_id, placeholder: 'Add Item'


  %br

  %footer
    = destroy_link @inventory
