.center_form
  %br
  %dl
    %dt Name
    %dd= ajax_string 'name', @inventory

  %h3 Tracked Items
  %ul
    - @inventory.stocks.each do |stock|
      %li{data: { id: stock.item.id }}
        = stock.item.name
        = stock.quantity
        (
        = link_to 'x', inventory_remove_item_path(inventory_id: @inventory.id, item_id: stock.item.id), remote: true, method: :delete
        )

  %br

  = form_for @inventory, method: :post, url: inventory_track_item_path(@inventory), remote: true do |f|
    - f.hidden_field :id
    - f.search_field :item_id, placeholder: 'Add Item'


  %br

  .right= link_to 'Destroy', inventory_path(@inventory), method: :delete, class: 'destroy_inventory', remote: true
