.subject_container
  = ajax_subject 'title', @resource


= edit_fields @resource, description: :text,
                         due_date: :date


%dl
  %dt Resources
  %dd
    %ul.associated_resources
      - @resource.resources.each do |resource|
        %li
          = render partial: 'resources/card', locals: { resource: resource, resourceful: @resource }

    .center
      = form_for @resource, url: add_resource_assignment_path(@resource), method: :post, remote: true do |f|
        = f.text_field 'new_resource', data: { autocomplete: 'resources' }
        = f.submit 'Add Resource'

%footer
  = collapse_button
  = destroy_link @resource, false
