#assignment_select
  %h1
    = @course
    Assignments
  %table
    %thead
      %th Title
      %th Description
      %th Due Date
      %th(colspan=2) Actions
    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= assignment.title
          %td= assignment.description
          %td= assignment.deadline
          %td= link_to 'Edit', edit_assignment_path(assignment)
          %td= link_to 'Delete', assignment_path(assignment), method: :delete

  = link_to 'New Assignment', new_assignment_path
