- if request.format == :html
  .card_header
    %h2= params[:controller].titleize

.content{class: request.format == 'html' ? '' : 'invisible'}

  %form#search_form
    .row
      %label{ for: 'full_text_search' } Full-Text:
      .field
        %span(style='pointer-events:none;')= md_icon 'search'
        %input#full_text_search{ type: 'search', name: 'ftext', value: params[:ftext] }
      %a#advanced_search_toggle Adv. Search

    #advanced_search.hidden
      .row
        %label(style='flex-shrink: 0;') Only:
        %ul
          - %w(assignments exams readings resources).each do |group|
            %li
              = check_box_tag "[focus][#{group}]", 1, params[:focus] && params[:focus][group.to_sym]
              %label{ for: "_focus_#{group}"}= group.titleize
      .row
        %label{ for: 'due_date_search' } Due date:
        .field
          %input#due_date_search{ type: 'search', name: 'date', value: params[:date] }

      -#.row
      -#  %label{ for: 'created_at_search' } Created at:
      -#  .field
      -#    %input#created_at_search{ type: 'search' }
      -#
      -#.row
      -#  %label{ for: 'modified_search' } Modified:
      -#  .field
      -#    %input#modified_search{ type: 'search' }

      .row
        %label{ for: 'title_search' } Title:
        .field
          %input#title_search{ type: 'search', name: 'title', value: params[:title] }

      .row
        %label{ for: 'notes_search' } Notes:
        .field
          %input#notes_search{ type: 'search', name: 'notes', value: params[:notes] }

      %input.button.inline_block{ type: 'submit', value: 'Advanced Search' }


  -#= render template: 'shared/by_category.haml', locals: { allow_create: false }
  #by_date
    - @groups.each_pair do |title, group|
      .category{ id: "#{title}_container" }
        .row{ style: 'align-items: flex-end;'}
          %h4= title.to_s.titleize
        = cruddier_table group


  %br

:javascript
  $('#full_text_search').focus();
