.center_form
  .right= updated_field_at 'updated_at', @issue
  %br
  %dl
    %dt Subject
    %dd= ajax_subject 'title', @issue

    %dt Description
    %dd= ajax_text 'description', @issue

    %dt How to Test
    %dd= ajax_text 'how_to_test', @issue

    %dt Category
    %dd= ajax_string 'category', @issue

    %dt Target Version
    %dd= ajax_string 'target_version', @issue

  %h3 Associated Tasks
  - unless @issue.tasks.empty?
    %ul
      - @issue.tasks.each do |task|
        %li{ data: { id: task.id }}
          = link_to task.title, edit_task_path(task), remote: true, class: 'nav_link'
          (
          = link_to 'x', issue_remove_task_path(issue_id: @issue.id, task_id: task.id), remote: true, method: :delete
          )
  %br

  = form_for @issue, method: :post, url: issue_add_task_path(@issue), remote: true do |f|
    - f.hidden_field :id
    - f.search_field :task_id, placeholder: 'Add Task'


  %br

  .right= link_to 'Destroy', issue_path(@issue), method: :delete, class: 'destroy_issue', remote: true
