.center_form
  .right= updated_field_at 'updated_at', @issue

  .subject_container
    = ajax_subject 'subject', @issue
  .notes_container
    = ajax_notes 'description', @issue

  #tasks_header
    %h4 Status
    .spacer
    %h4 Assigned To
  #tasks
    - if @issue.tasks
      - @issue.tasks.each do |task|
        = task_cards task, false, select: false
  = new_task_for @issue

  = edit_fields @issue, category: :string,
                        target_version: :string

  %br
  %footer
    = destroy_link @issue
