.subject_container
  = ajax_subject 'subject', @issue
.notes_container
  = ajax_notes 'description', @issue

#tasks_header
  %h4 Status
  .spacer
  %h4 Assigned To
#tasks
  - if @issue.task
    = task_cards @issue.task, false, select: true
= new_task_for @issue

= edit_fields @issue, category: :string,
                      target_version: :string

%br
%footer
  = collapse_button
  = destroy_link @issue, false
