%h1 Issues

#column_select
  %strong Show me...
  %ul.horizontal
    - %w(Number Description Assignee Tester Category Target_Version Status).each do |column|
      %li{style: 'padding: .5em 1em'}
        = label_tag "issue_#{column.downcase}", column
        = check_box_tag "issue_#{column.downcase}", 1, checked: true
%br
%table#issues
  %thead
    %tr
      %th{data: {column: 'issue_number'}} Issue
      %th{data: {column: 'issue_description'}} Description
      %th{data: {column: 'issue_assignee'}} Assignee
      %th{data: {column: 'issue_tester'}} Tester
      %th{data: {column: 'issue_category'}} Category
      %th{data: {column: 'issue_target_version'}} Version
      %th{data: {column: 'issue_status'}} Status
  %tbody
    - @issues.each do |issue|
      %tr.show_path{data: { object_id: issue.id }, class: issue.completed ? 'resolved' : 'unresolved'}
        %td{data: {column: 'issue_number'}}
          = issue.number plain: true

        %td{data: {column: 'issue_description'}}
          = issue.description

        %td{data: {column: 'issue_assignee'}}
          = issue.assignee.username if issue.assignee

        %td{data: {column: 'issue_tester'}}
          = issue.tester.username if issue.tester

        %td{data: {column: 'issue_category'}}
          = issue.category

        %td{data: {column: 'issue_target_version'}}
          = issue.target_version

        %td{data: {column: 'issue_status'}, style: "color:#{issue.completed ? 'green' : 'red'}"}
          = issue.completed ? 'Resolved' : 'Unresolved'

%br
= link_to 'New Issue', new_issue_path, id: 'new_issue', remote: true
