- if request.format == :html
  .card_header
    %h2 Issues

.content{class: request.format == 'html' ? '' : 'invisible'}

  %table#issues
    %thead
      %tr
        %th{data: {column: 'issue_number'}} Issue
        %th{data: {column: 'issue_subject'}} Subject
        %th{data: {column: 'issue_description'}} Description
        %th{data: {column: 'issue_updated_at'}} Updated
    %tbody
      - @issues.each do |issue|
        %tr.show_path{data: { object_id: issue.id, fade_content: 'true', swap_title: 'Editing Issue' }}
          %td{data: {column: 'issue_number'}}
            = issue.number plain: true

          %td{data: {column: 'issue_subject'}}
            = issue.subject

          %td{data: {column: 'issue_description'}}
            = issue.description

          %td{data: {column: 'issue_updated_at'}, style: 'font-size:.8em; min-width:10em;'}
            = time_ago(issue.updated_at)

  %br

  .center
    = link_to 'New Issue', new_issue_path, remote: true, data: { fade_content: true, swap_title: 'New Issue'}

