%h1 Issues

%table#issues(style='display:inline-block;')
  %thead
    %tr
      %th{data: {column: 'issue_number'}} Issue
      %th{data: {column: 'issue_title'}} Title
      %th{data: {column: 'issue_description'}} Description
      %th{data: {column: 'issue_updated_at'}} Updated
  %tbody
    - @issues.each do |issue|
      %tr.show_path{data: { object_id: issue.id }}
        %td{data: {column: 'issue_number'}}
          = issue.number plain: true

        %td{data: {column: 'issue_title'}}
          = issue.title

        %td{data: {column: 'issue_description'}}
          = issue.description

        %td{data: {column: 'issue_updated_at'}, style: 'font-size:.8em; min-width:10em;'}
          = time_ago(issue.updated_at)

%br

= link_to circle_add, new_issue_path, id: 'new_issue', remote: true, class: 'southeast'
