<h1>Issue #<%= @issue.number %></h1>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>How to test:</strong>
  <%= @issue.how_to_test %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @issue.creator.email if @issue.creator %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @issue.assignee.email if @issue.assignee %>
</p>

<p>
  <strong>Tester:</strong>
  <%= @issue.tester.email if @issue.tester %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.completed ? 'Complete' : 'Incomplete' %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
