%h1
  Issue
  = @issue.number

%p
  %strong Description:
  = @issue.description 

%p
  %strong How to test:
  = @issue.how_to_test

%p
  %strong Created by:
  = @issue.creator.username if @issue.creator

%p
  %strong Assigned to:
  = @issue.assignee.username if @issue.assignee

%p
  %strong Tester:
  = @issue.tester.username if @issue.tester

%p
  %strong Status:
  = @issue.completed ? 'Complete' : 'Incomplete'


= link_to 'Edit', edit_issue_path(@issue) |
= link_to 'Back', issues_path 
