.center_form
  .right= updated_field_at 'updated_at', @task
  %br
  %dl
    %dt Subject
    %dd= ajax_subject 'subject', @task

    %dt Notes
    %dd= ajax_text 'notes', @task

    %dt Complete
    %dd= ajax_boolean 'complete', @task


  - unless @task.taskable.nil?
    %h3 Associated Records
    %ul
      - issue = @task.taskable
      %li= link_to issue.subject, edit_issue_path(issue), remote: true, class: 'nav_link'


  %br

  .right= link_to 'Destroy', task_path(@task), method: :delete, class: 'destroy_task', remote: true
