.center_form
  .subject_container
    = ajax_subject 'subject', @task
  .notes_container
    = ajax_notes 'notes', @task

  %dl
    %dt Status
    %dd= task_status

    %dt Assigned To
    %dd= task_assignee


  - unless @task.taskable.nil?
    %h3 Associated Records
    %ul
      - issue = @task.taskable
      %li= link_to issue.subject, edit_issue_path(issue), remote: true, class: 'nav_link'

  %footer
    = destroy_link @task
