.subject_container
  = ajax_subject 'description', @resource


= edit_fields @resource, due_date: :date

%dl
  %dt Resources
  %dd
    %ul
      - @resource.resources.each do |resource|
        %li= link_to resource.description, resources_path


%footer
  = collapse_button
  = destroy_link @resource, false
