.subject_container
  = ajax_subject 'title', @resource


= edit_fields @resource, due_date: :date,
                         notes:    :text

= render partial: 'resources/add_resource'


%footer
  = collapse_button
  = destroy_link @resource, false
