#user_form
  %h1 Edit User
  %dl
    %dt Username
    %dd
      = form_for @user do |f|
        = f.text_field :email
        = f.submit
    - if current_user.is_superuser?
      %dt Privelage
      %dd
        = form_for @user do |f|
          = f.number_field :privelage_level
          = f.submit
    %dt Avatar
    %dd
      = form_for @user, html: { multipart: true} do |f|
        = image_tag @user.avatar.url(:thumb)
        = f.file_field :avatar
        = f.submit

  %br
  = destroy_user_link
