#user_form
  %h1 Edit User
  %dl
    %dt Username
    %dd= ajax_string 'email', @user

    - if superuser?
      %dt Privelage
      %dd= ajax_number 'privelage_level', @user

    %dt Avatar
    %dd
      = form_for @user, html: { multipart: true} do |f|
        = image_tag(@user.avatar.url(:thumb)) if @user.avatar.present?
        = f.file_field :avatar
        = f.submit

    %dt Favorite Color
    %dd= ajax_string 'favorite_color', @user

  %br
  = destroy_user_link
