<div id="curtain">

  <h1>skela</h1>

  <div id="center_form_box">


    <%= form_for @user, remote: true do |f| %>

      <div class="center_form_field">
        <%= f.text_field :email, autofocus: true, placeholder: 'Username' %>
      </div>

      <div class="center_form_field">
        <% if false %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password' %>
      </div>

      <div class="center_form_field">
        <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Confirm password' %>
      </div>

      <div class="actions">
        <%= f.submit 'Sign up', id: 'login_button' %>
      </div>
    <% end %>


  </div>
  <%= link_to 'I already have an account', login_path, class: 'center_form_link'%>

  <br>

</div>

<script>
  $('#new_user').submit(function(){
    $('.flash').addClass('hidden');
    if ($('#user_password').val() != $('#user_password_confirmation').val()) {
      $('.flash.alert').html('Password confirmation does not match');
      $('#user_password').val('');
      $('#user_password_confirmation').val('');
      $('.flash.alert').removeClass('hidden');
      return false;
    }
  });
</script>
