<div id="curtain">

  <h1>skela</h1>

  <div id="center_form_box">


    <%= form_for @user do |f| %>

      <div class="center_form_field">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
      </div>

      <div class="center_form_field">
        <% if false %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password' %>
      </div>

      <div class="center_form_field">
        <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Confirm password' %>
      </div>

      <div class="actions">
        <%= f.submit 'Sign up', id: 'login_button' %>
      </div>
    <% end %>


  </div>
  <%= link_to 'Log in', login_path, class: 'center_form_link'%>

  <br>

</div>