#login_container_outer
  #login_container_inner
    #skul
      = avatar @user

    = form_for @user, remote: false do |f|
      = f.text_field :username, autofocus: true, placeholder: 'Username'
      = f.password_field :password, autocomplete: 'off', placeholder: 'Password'
      = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Confirm password'
      .errors
        - unless @user.valid? || @user.username.nil? && @user.password_digest.nil?
          %dl
            - @user.errors.messages.each do |field, errors|
              %dt= field
              - errors.each do |error|
                %dd= error
      = f.submit 'Sign up'

#options
  = link_to 'Proceed as Guest', create_guest_account_path, data: { swap_title: 'Authenticate', fade_content: true, method: :post }
  = link_to 'Log in', login_path
