%h1 Purchases

%table#purchases(style='display:inline-block')
  %thead
    %th{data: {column: 'purchase_title'}} Title
    %th{data: {column: 'purchase_need'}} Need
    %th{data: {column: 'purchase_cost'}} Cost
    %th{data: {column: 'purchase_purchased_at'}} Purchased At
    %th{data: {column: 'purchase_purchase_link'}} Purchase Link

  %tbody
    - unless @purchases.nil?
      - @purchases.each do |purchase|
        %tr{data: { object_id: purchase.id }}
          %td{data: {column: 'purchase_title'}}
            = ajax_string 'title', purchase
          %td{data: {column: 'purchase_need'}}
            = ajax_string 'need', purchase
          %td{data: {column: 'purchase_cost'}}
            = ajax_price 'cost', purchase
          %td{data: {column: 'purchase_purchased_at'}}
            = ajax_datetime 'purchased_at', purchase
          %td{data: {column: 'purchase_purchase_link'}}
            - if purchase.purchase_link
              = link_to 'buy', purchase.purchase_link, target: '_blank'
              (
              = link_to 'x', remove_purchase_link_path(purchase.id), method: :delete, remote: true
              )
            - else
              = ajax_text 'purchase_link', purchase
          %td
            = link_to 'delete row', purchase_path(purchase), method: :delete, remote: true

%br

= link_to 'new purchase', new_purchase_path, remote: true
