#world_module
  #north
    = portal_link :north
  #player_module
  %h2(style="margin:0;")
    = "Playing as: #{current_player.name}"
  %h3
    Mana:
    %span#mana= current_player.mana
  %br

  %h2= "World: #{current_player.world.name}"
  #east
    = portal_link :east
  #south
    = portal_link :south
  #west
    = portal_link :west
  #players_list
    %ul
      - @players.each do |player|
        %li= player
