#world_module
  %h2= "World: #{current_player.world.name}"
  %div
    #north
      = portal_link :north
    #east
      = portal_link :east
    #south
      = portal_link :south
    #west
      = portal_link :west
