.center_form
  .subject_container
    = ajax_subject 'title', @developer_log_entry
  .notes_container
    = ajax_notes 'text', @developer_log_entry

  %dl
    %dt Date & Time
    %dd= ajax_datetime 'datetime', @developer_log_entry

    %dt User
    %dd
      = form_for @developer_log_entry, method: :put, remote: true do |f|
        - f.search_field :user

  %footer
    = destroy_link @developer_log_entry
