<%= form_for(@developer_log_entry) do |f| %>
  <% if @developer_log_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer_log_entry.errors.count, "error") %> prohibited this developer_log_entry from being saved:</h2>

      <ul>
      <% @developer_log_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :datetime %><br>
    <%= f.datetime_select :datetime %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
