<p id="notice"><%= notice %></p>

<h1>Developer Log</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Datetime</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developer_log_entries.each do |developer_log_entry| %>
      <tr>
        <td><%= developer_log_entry.title %></td>
        <td><%= developer_log_entry.text %></td>
        <td><%= developer_log_entry.datetime %></td>
        <td><%= developer_log_entry.user_id %></td>
        <td><%= link_to 'Show', developer_log_entry, remote: true %></td>
        <td><%= link_to 'Edit', edit_developer_log_entry_path(developer_log_entry), remote: true %></td>
        <td><%= link_to 'Destroy', developer_log_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Developer log entry', new_developer_log_entry_path, remote: true %>
