.record_module{ data: { model: 'plant', id: plant.id }}
  .ab_group
    .module_a
      .field_name Plant
      .field_value= plant.species
    .module_b
      .field_name Age
      .field_value= plant.age
  .cd_group
    .module_c
      .field_name Last Feeding
      .field_value= "Late Growth #{days_since plant.birthday} days ago"
    .module_d
      .field_name Next Feeding
      .field_value= "Transition"
