<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @plant.species %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @plant.birthday %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant, remote: true) %> |
<%= link_to 'Back', plants_path, remote: true %>
