<%= form_for(@personal_profile) do |f| %>
  <% if @personal_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_profile.errors.count, "error") %> prohibited this personal_profile from being saved:</h2>

      <ul>
      <% @personal_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :favorite_color_id %><br>
    <%= f.number_field :favorite_color_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
