<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personal_profile.name %>
</p>

<p>
  <strong>Favorite color:</strong>
  <%= @personal_profile.favorite_color_id %>
</p>

<%= link_to 'Edit', edit_personal_profile_path(@personal_profile) %> |
<%= link_to 'Back', personal_profiles_path %>
