.crud_title
  = crud.title
.right
  - if crud.url.present?
    = link_to md_icon('open_in_new'), crud.url, target: 'blank'
  - else
    %span.gray= md_icon 'open_in_new'

  - if crud.filename.present?
    = link_to md_icon('file_download'), resource_path(crud)
  - else
    %span.gray= md_icon 'file_download'
