.crud_title
  = resource.title
.right
  - if resource.url.present?
    = link_to md_icon('open_in_new'), resource.url, target: 'blank'
  - else
    %span.gray= md_icon 'open_in_new'

  - if resource.filename.present?
    = link_to md_icon('file_download'), resource_path(resource)
  - else
    %span.gray= md_icon 'file_download'
