.center_form
  .right= updated_field_at 'updated_at', @item
  %br
  %dl
    %dt Name
    %dd= ajax_subject 'name', @item

    %dt Units
    %dd= ajax_string 'units', @item

    %dt Description
    %dd= ajax_text 'description', @item

  .right= link_to 'Destroy', item_path(@item), data: {  method: :delete, remote: true, fade_content: true, swap_title: 'Items'}, class: 'destroy_item'
