- if request.format == :html
  .card_header
    %h2 Authenticate

.content{class: request.format == 'html' ? '' : 'invisible'}
  #curtain
    #center_form_box
      = form_tag sessions_path, remote: true do |f|
        .center_form_field
          = text_field_tag :username, nil, placeholder: 'Username'
        .center_form_field
          = password_field_tag :password, nil, autocomplete: 'off', placeholder: 'Password'

        .actions
          = submit_tag 'Log in', id: 'login_button'
      %br
      %br
      = link_to 'I don\'t have an account', signup_path, class: 'center_form_link', data: { swap_title: 'Create an Account', fade_content: true, remote: true }

  :javascript
    $('#username').focus();
    jQuery(function(){
      decloak('#container');
    });
