.content
  #login_container
    - size = 150
    .center
      .avatar_box{ style: "width:#{size}px;height:#{size}px;background:#aaa;border-radius:50%;"}
        = avatar @user, size
    %br
    = form_tag create_session_path, remote: false do |f|
      = text_field_tag :username, nil, placeholder: 'Username', autofocus: true
      = password_field_tag :password, nil, autocomplete: 'off', placeholder: 'Password'
      = submit_tag 'Log in', id: 'login_button'

  %br
  -#= link_to 'Proceed as Guest', login_path, class: 'button center', data: { swap_title: 'Authenticate', fade_content: true, remote: false }
  -#%br
  -#%br
  -#%br
  = link_to 'I don\'t have an account', signup_path, class: 'center', data: { remote: false, swap_title: 'Create an Account', fade_content: true }
