.subject_container
  = ajax_subject 'title', @resource

.notes_container
  = ajax_notes 'text', @resource

%dl
  %dt Writer
  %dd= @resource.user

  %dt Date & Time
  %dd= @resource.datetime

%footer
  = collapse_button
  = destroy_link @resource, false
