.subject_container
  = edit_field @resource, 'title', 'subject'

= optional_fields @resource, instructor:       :string,
                             instructor_email: :string,
                             location:         :string,
                             schedule:         :string

%dl
  %dt Activate
  %dd= link_to 'View Course', explore_course_path(@resource.id), class: 'nav_link', style: 'color: #1976d2;', data: { remote: true, fade_content: 'true', swap_title: @course.title }

%footer
  = destroy_link @resource, false
  = collapse_button
