.subject_container
  = ajax_subject 'title', @resource


= edit_fields @resource, instructor: :string,
                         location: :string,
                         schedule: :string

%dl
  %dt Activate
  %dd= link_to 'Activate Course', activate_course_path(@resource.id), remote: true

%footer
  = collapse_button
  = destroy_link @resource, false
