#course_select
  %h1 Courses

  %table
    %thead
      %th Student
      %th Title
      %th Description
      %th Instructor
      %th TA
      %th(colspan=2) Actions

    %tbody
      - @courses.each do |course|
        %tr
          %td= course.user
          %td= course.title
          %td= course.description
          %td= course.instructor
          %td= course.assistant_instructor
          %td= link_to 'Edit', edit_course_path(course)
          %td= link_to 'Delete', course_path(course), method: :delete

  %br
  = link_to 'Add a New Course', new_course_path
