.subject_container
  = ajax_subject 'title', @resource

= form_for @resource, remote: true, authenticity_token: true do |f|
  .field
    = f.file_field :file
  .actions
    = f.submit

%p
  - if @resource.filename
    = @resource.filename
    = link_to 'Download', sound_path(@resource)

= link_to 'HTML5 Audio', sound_path(@resource), class: 'html5'

%section#audio


%footer
  = collapse_button
  = destroy_link @resource, false

:javascript
  $(document).ready(function() {
    var audioSection = $('section#audio');
    $('a.html5').click(function() {

        var audio = $('<audio>', {
             controls : 'controls'
        });

        var url = $(this).attr('href');
        $('<source>').attr('src', url).appendTo(audio);
        audioSection.html(audio);
        return false;
    });
  });
