<p id="notice"><%= notice %></p>

<h1>Listing Favorite Colors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_colors.each do |favorite_color| %>
      <tr>
        <td><%= link_to 'Show', favorite_color %></td>
        <td><%= link_to 'Edit', edit_favorite_color_path(favorite_color) %></td>
        <td><%= link_to 'Destroy', favorite_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite color', new_favorite_color_path %>
