.subject_container
  = ajax_subject 'topic', @resource


= edit_fields @resource, description: :text,
                         datetime: :datetime,
                         location: :string

%dl
  %dt Resources
  %dd
    %ul
      - @resource.resources.each do |resource|
        %li
          = render partial: 'resources/card', locals: { resource: resource, resourceful: @resource }

      = form_for @resource, url: add_resource_exam_path(@resource), method: :post do |f|
        = f.text_field 'new_resource', data: { autocomplete: 'resources' }
        = f.submit 'Add Resource'

%footer
  = collapse_button
  = destroy_link @resource, false
