.subject_container
  = ajax_subject 'topic', @resource


= edit_fields @resource, description: :text,
                         datetime: :datetime,
                         location: :string


%ul
  - @resource.resources.each do |resource|
    %li= link_to resource.description, resources_path

%footer
  = collapse_button
  = destroy_link @resource, false
