.subject_container
  = edit_field @resource, 'title', 'subject'

= optional_fields @resource, date:     :date,
                             time:     :time,
                             location: :string,
                             notes:    :text

= render partial: 'resources/add_resource'


%footer
  = destroy_link @resource, false
  = collapse_button
