.subject_container
  = ajax_subject 'topic', @resource


= edit_fields @resource, description: :text,
                         datetime: :datetime,
                         location: :string

= render partial: 'resources/add_resource'


%footer
  = collapse_button
  = destroy_link @resource, false
