.subject_container
  = ajax_subject 'title', @resource


= optional_fields @resource, date:     :date,
                             time:     :time,
                             location: :string,
                             notes:    :text

= render partial: 'resources/add_resource'


%footer
  = destroy_link @resource, false
  = collapse_button
