#header.flex_box.flex
  %nav.flex_box.flex
    %ul#primary_nav.flex_box
      %li= primary_nav_link display: site_logo, path: welcome_path, title: 'Welcome'
      %li= primary_nav_link( display: 'Games',
                              path: games_path,
                              theme: 'games',
                              drop_down: { 'Tic-Tac-Toe' => games_tic_tac_toe_path,
                                           'Hi-Lo'       => games_hi_lo_path,
                                           '100-Puzzle'  => games_hundred_puzzle_path })

      %li= primary_nav_link( display: 'Trackers',
                              path: shifts_path,
                              theme: 'plants',
                              title: 'Shifts',
                              drop_down: { 'Shifts'    => shifts_path,
                                           'Tasks'     => tasks_path,
                                           'Items' => items_path,
                                           'Inventories' => inventories_path })
      %li= primary_nav_link( display: 'Developer',
                              path: issues_path,
                              title: 'Issues',
                              theme: 'developer',
                              drop_down: { 'Users'  => users_path,
                                           'Issues' => issues_path,
                                           'Log'    => developer_log_entries_path })
    .flex

    - if logged_in?
      %nav#user_nav
        = logged_in_text
        = link_to 'My Profile', my_profile_path, id: 'my_profile_link', class: "user_link link_1 #{'selected' if params[:controller] == 'users' && params[:action] == 'my_profile'}", remote: true
        = link_to 'Logout', logout_path, id: 'logout_button', remote: true, method: :delete, class: 'user_link link_2'
    - else
      = link_to 'Login', login_path, id: 'login_link', class: 'nav_link'
