#header
  #toggle_sidebar= md_icon 'menu'
  = site_logo
  - if logged_in?
    - %w(Assignments Exams Readings Resources).each do |tracker|
      = category_link tracker

    .flex.spacer
    = my_profile_nav do
      = present(current_user).username_and_avatar
