= header_left

#header_right.flex_box.flex
  %nav.flex_box.flex
    = primary_nav_link display: 'Games',     path: games_path,     controller: 'games'
    = primary_nav_link display: 'Plants',    path: plants_path,    controller: 'plants'
    = primary_nav_link display: 'Shifts',    path: shifts_path,    controller: 'shifts'
    = primary_nav_link display: 'Tasks',     path: tasks_path,     controller: 'tasks'
    = primary_nav_link display: 'Developer', path: developer_path, controller: 'developer'

    .flex

    - if logged_in?
      %nav#user_nav
        = logged_in_text
        = link_to 'My Profile', my_profile_path, id: 'my_profile_link', class: "user_link link_1 #{'selected' if params[:controller] == 'users' && params[:action] == 'my_profile'}", remote: true
        = link_to 'Logout', logout_path, id: 'logout_button', remote: true, method: :delete, class: 'user_link link_2'
    - else
      = link_to 'Login', login_path, id: 'login_link', class: 'nav_link'
