%li= primary_nav_link display: site_logo, path: welcome_path, title: 'Welcome', no_nav: true
%li= primary_nav_link display: 'Courses', path: courses_path, title: 'Courses'
%li= primary_nav_link display: 'Assignments', path: assignments_path, title: 'Assignments'
%li= primary_nav_link display: 'Exams', path: exams_path, title: 'Exams'
%li= primary_nav_link display: 'Readings', path: readings_path, title: 'Readings'
%li= primary_nav_link display: 'Resources', path: resources_path, title: 'Resources'
