%nav
  %ul
    %li
      - selected =  (controller_name == 'courses' && action_name == 'index') ? ' selected' : ''
      %a{ href: courses_path, class: "button nav_link#{selected}", data: { remote: true, swap_title: 'Courses', fade_content: 'true' } }
        .left= md_icon 'school'
        .course_title= 'Courses'

    - @courses.each do |course|
      %li{ data: { type: 'course', resource_id: course.id }}
        - klass = 'button nav_link course'
        - klass << ' selected' if controller_name == 'courses' && course == @course
        %a{ href: explore_course_path(course.id), class: klass, data: { remote: true, swap_title: course.title, fade_content: 'true' }}
          .left= md_icon 'class'
          %span.course_title{ data: { field: 'title' }}= course.title.present? ? course.title : 'New Course'
    %li
      %a{ href: calendar_path, class: "button nav_link#{controller_name == 'calendar' ? ' selected' : ''}", data: { remote: true, swap_title: 'Calendar', fade_content: 'true' }}
        .left= md_icon 'date_range'
        .course_title= 'Calendar'
    %li
      %a{ href: search_path, class: "button nav_link#{controller_name == 'search' ? ' selected' : ''}", data: { remote: true, swap_title: 'Search', fade_content: 'true' }}
        .left= md_icon 'search'
        .course_title= 'Search'
