<!DOCTYPE html>
<html>
<head>
  <title>Skela</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="flash notice<%= ' hidden' if notice.nil? %>">
  <span class="vertical_middle"><%= notice %></span>
</div>

<div class="flash alert<%= ' hidden' if alert.nil? %>">
  <span class="vertical_middle"><%= alert %></span>
</div>
<% unless params[:controller] == 'users/sessions' %>
<div class="right">
    <strong><%= "Logged in as #{current_user.email}." if current_user %></strong>
    <%= link_to 'Edit profile', '' %> |
    <%= link_to 'Logout', logout_path, method: :delete %>

    <%= link_to 'Sign up', signup_path %> |
    <%= link_to 'Login', login_path %>

</div>
<% end %>

<%= yield %>

</body>
</html>
