!!! 5
%html
  %head 
    %title Skela
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ href: 'https://fonts.googleapis.com/css?family=Roboto|Open+Sans', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }
    = favicon_link_tag 'icon.png'

  %body{ class: params[:controller] }
    .flash.notice.hidden
      %span.vertical_middle= notice
    .flash.alert.hidden
      %span.vertical_middle= alert

    #helmet
      -##hide_show_header
        = content_tag :a, 'show/hide', id: 'toggle_header', remote: true

      = render partial: 'layouts/header'

    #container
      #sidebar
        = render partial: 'layouts/sidebar'
      #main= yield
    -#  %br
    -#.developer_pad.hidden
    -#  #developer_pad_title
    -#    Developer Tools
    -#
    -#  %ul.god_buttons
    -#    %li
    -#      = trigger_flash_notice
    -#    %li
    -#      = trigger_flash_alert
    -#    %li
    -#      = hide_stuff
