!!! 5
%html
  %head 
    %title Skela
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  %body{ class: params[:controller] }
    .flash.notice.hidden
      %span.vertical_middle= notice
    .flash.alert.hidden
      %span.vertical_middle= alert

    %div#helmet{class: (logging_in? || signing_up?) ? 'hidden' : '' }
      #hide_show_header
        = link_to 'show/hide', '', id: 'toggle_header', method: :post, remote: true

      = render partial: 'layouts/header'


    #container
      = yield
      %div{style: 'height:24px; width:100%;'}

    .developer_pad.hidden
      #developer_pad_title
        Developer Tools

      %ul.god_buttons
        %li
          = trigger_flash_notice
        %li
          = trigger_flash_alert
        %li
          = hide_stuff

    .spacer
