<!DOCTYPE html>
<html>
  <head>
    <title>Skela</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div class="flash notice<%= ' hidden' if notice.nil? %>">
    <span class="vertical_middle"><%= notice %></span>
  </div>

  <div class="flash alert<%= ' hidden' if alert.nil? %>">
    <span class="vertical_middle"><%= alert %></span>
  </div>


      <div id="helmet" class="<%= 'hidden' if logging_in? or signing_up? %>">
        <%= render partial: 'shared/header' %>
      </div>
    <div id="container">
      <%= yield %>

    </div>

    <div class="developer_pad center hidden">
      <div id="developer_pad_title">
        Developer Tools
      </div>

      <ul class="god_buttons">
        <li>
          <%= trigger_flash_notice %>
        </li>
        <li>
          <%= trigger_flash_alert %>
        </li>
        <li>
          <%= hide_stuff %>
        </li>
      </ul>
    </div>
  </body>
</html>
