!!! 5
%html
  %head
    %title Skela - Courses
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ href: 'https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Ubuntu', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }
    = favicon_link_tag 'icon.png'

  %body

    #container#login
      = render partial: 'layouts/flexy_header'
      = yield